
<style>

  #bargraph-label-{{climb.grade.setter}} {
    color: #a3a3a3;
  }
  .bargraph{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    padding: 1rem;
    display: ;

  }
  .bargraph > div:first-child{
   display: flex;
   flex-direction: row;
   height: 90px;
   color: #a3a3a3;
 }
 .bargraph > div:last-child{
   display: flex;
   flex-direction: row;
   color: #a3a3a3;
 }
 .bar { 
   flex-basis: 100%;
   display: flex;
   flex-direction: column; box-sizing: border-box;
 }
 #grade_container{
  background-position: 50% 22px;
  background-size: 50%;
    background-repeat: no-repeat;
  background-image: url(/images/gradeshadow_light.png);
}


@media (prefers-color-scheme: dark) {
  #grade_container{
    background-image: url(/images/gradeshadow_dark.png);
  }

  .bargraph > div:first-child,
  .bargraph > div:last-child{
   color: #535353;

 }

}
img.logo{
  display: block;
  margin: 0 auto;
}
.avg_grade{
  text-align: center;
  font-size: 8.0rem;
  padding-bottom: 36px;
  font-family: RobotoMono;

}

@font-face {
  font-family: RobotoMono;
  src: url(/font/RobotoMono-Light.ttf);
}

.button {
 display: block;text-align: center;

 flex-grow: 1;
 font-size: 32px;
 text-decoration: none;
 text-transform: uppercase;
 color: white;
 font-weight: 600;
 background-color: #1EAEDB;
 border: none;
 height: 100%;
 border-radius: 9px;
 padding:5px 0px;
}

input[type="number"]{
  padding: 0px;
  font-size: 12.0rem;
  height: unset;
  width: 15rem;
  letter-spacing: -1.0rem;
}
.button:hover,a:hover{
  color: white;
}
</style>

<script src="https://js.hcaptcha.com/1/api.js" async defer></script>
<script type="text/javascript">
  var grading = false;
  function toggle_grading(){
    if(grading){


      $('#grading').css('display',"none");
      $('#browsing').css('display',"block");
    }else{

      $('#browsing').css('display',"none");
      $('#grading').css('display',"block");

    }
    grading = ! grading;
  }
  $(function () {
    $("#input_grade").on("input", function (e) {
      var input = $("#input_grade").val();
      if(typeof input === 'string' || input instanceof String){
        $("#input_grade").val(0);
      }
      if(input.length>1 && input< 10){
        $("#input_grade").val(parseInt(input));
        return;
      }
      if(input > 16 ){
        $("#input_grade").val(17);

        return;
      }
    });



  });
</script>
{{>header}}
{{#if success}}
<h5 style="text-align:center;color:green;"> You have successfully graded the climb! </h5>
{{else}}
{{/if}}
<hr>


<h3  style="text-align: center;" >@ {{gym.name}}</h3>
<h5  style="text-align: center;" >{{climb.climb_code}} set by "{{climb.setter_name}}" 
  <br> Graded V{{climb.grade.setter}}</h5>

<hr>

<div id="browsing" >
  <div id="grade_container" style="" class="row">
    <h1 class="avg_grade" style="margin:0;"> <span>V{{climb.grade.average}}</span></h1>
  </div>

  <div class="bargraph">
    <div>
      <div class="" style=" min-width: 40px;flex-grow: 0; border-right: 1px solid var(--border-c);">
        <div class="" style="height:75%; text-align: center;">100%</div>
        <div  class="" style="height:25%; text-align: center;border-bottom: 1px solid var(--border-c);">0%</div>
      </div>

      {{#each climb.graph}}
      <div class="bar" style="height:100%;">
       <div class="" style="height:calc(100% - calc( 100% * {{this}}  ));"></div>
       <div class="" style="height: calc( 100% * {{this}}  ); background:#1EAEDB;"></div>
     </div>
     {{/each}}
   </div>

   <div >
    <div class="" style=" min-width: 40px;flex-grow: 0; border-right: 1px solid var(--border-c);"></div>
    {{#each climb.graph}}
    <div class="bar" id="bargraph-label-{{@key}}" style="border-top: 1px solid var(--border-c); border-right: 1px solid var(--border-c);box-sizing: border-box;text-align: center;">V{{@key}}</div>
    {{/each}}
  </div>
</div>


<hr>
<div class="row" style="justify-content: center;display: flex;">
  <button class="button" onclick="toggle_grading();" style="flex-grow:1;">Grade this Route!</button>
</div>
</div>

<div id="grading" style="display:none;">
  <form action="" method="post">

    <div style="" class="row">

      <h1 class="avg_grade" style=""> <span> V</span><input id="input_grade" name="incorrect_opinion" type="number" pattern="[0-9]*" value="0"></input></h1>


      <div class="row" style="justify-content: center;display: flex;">
        <div class="h-captcha" data-sitekey="{{captcha_site_key}}"></div>
      </div>
      <hr>
      <div class="row" style="display:flex">
        <button class="button" type="button" onclick="toggle_grading();" style="">back</button>
        <button class="button" type="submit" style="margin-left: 5%;">Submit!</button>
      </div>
    </div>
  </form>
</div>